* { box-sizing: border-box; margin: 0; padding: 0; }

:root{
  --fondo: #000;
  --box: #0f0f10;          
  --blanco: #eaeaea;
  --gris: #9aa0a6;
  --griso: rgba(255,255,255,0.08);
  --azul: #0b4b8f;
}

body{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;     
  padding-top: 72px;
  background: var(--fondo);
}

.navbar {
  position: fixed;      
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;

  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;

  height: 56px;        
  padding: 10px 30px;
  background: var(--box);
  color: var(--blanco) ;
}

/* Logo */
.logo{
  display: flex;
  align-items: center;
}
.logo img {
  height: 40px;
}

.admin-span{
  font-weight: bold;
  color: var(--azul);
}

/* Menú central */
.main-menu {
  display: flex;
  justify-content: center;
}

.main-menu ul {
  list-style: none;
  display: flex;
  gap: 25px;
  margin: 0;
  padding: 0;
}

.main-menu ul li a {
  text-decoration: none;
  color: var(--blanco);
  font-weight: bold;
  
}

.main-menu ul li a:hover {
  color:  var(--azul);
  border-bottom: 2px solid var(--griso);
}

/* Menú derecho */
.right-menu {
  display: flex;
  align-items: center;
  gap: 20px;
  justify-self: right;
}

.right-menu a {
  text-decoration: none;
  color: var(--blanco); 
  font-weight: bold;
}

.right-menu a:hover {
  color: var(--azul);
  border-bottom: 2px solid var(--griso);
}

.right-menu .icon {
  width: 22px;
  height: 22px;
  border-radius: 100%;
}

.footer{
  height: 100px;                       
  background: var(--box);
  color: var(--blanco);
  display: flex; 
  align-items: center;
  margin-top: auto;
}


.footer-content{
  display: flex; 
  gap: 12px;
  margin-left: 10px;
}
.footer-links{
  display: flex;
  gap: 10px;  
}
.footer-links img{
  width: 22px; height: 22px; display: block;
}

.x{
  filter: invert(100%);
}

.mail{
    filter: invert(100%);

}

@media (max-width: 1024px){
  .navbar{
    grid-template-columns: 1fr 1fr;   
    grid-template-rows: auto auto;
    height: auto;
    padding: 12px;
    row-gap: 10px;
    text-align: center;
    align-items: center;
  }

  .logo {
    grid-column: 1 / 3;      
    justify-self: center;
  }

  .main-menu{
    justify-content: flex-start;
    align-items: center;
  }

  .right-menu{
    justify-content: center;     
    align-items: center;  
  }

  .footer{
    flex-direction: column;
    text-align: center;
    padding: 16px;
    height: auto;
    width: 100%;
  }

  .footer-content{
    flex-direction: column;
    gap: 8px;
    margin: 0;
  }
}

@media (max-width: 480px){
.footer{        
    padding: 20px 10px;    
  }

  .footer-links img{
    width: 18px;
    height: 18px;
  }
}

  .main-menu ul{    
    margin-right: 25px;
  }