{% extends "a.html" %}

{% block title %}Registrarse - Cine LCU{% endblock %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/front/regist.css') }}">
{% endblock %}

{% block content %}
<div class="box">
    <h1>Registrarse</h1>
    
    <!-- Mensajes de error -->
    {% if param and param.get('error_msg_register') %}
        <p class="error">{{ param.get('error_msg_register') }}</p>
    {% endif %}
    
    <form action="{{ url_for('signup') }}" method="POST" id="formRegist">
        <label for="nombres" class="prim">Nombres</label><br>
        <input type="text" id="nombres" name="nombres"><br>
        <small id="error-nombres" class="error"></small><br>

        <label for="apellidos">Apellidos</label><br>
        <input type="text" id="apellidos" name="apellidos"><br>
        <small id="error-apellidos" class="error"></small><br>

        <label for="fecha">Fecha de nacimiento</label><br>
        <input type="date" id="fecha" name="fecha"><br>
        <small id="error-fecha" class="error"></small><br>

        <label for="email">Correo electrónico</label><br>
        <input type="email" id="email" name="email"><br>
        <small id="error-email" class="error"></small><br>

        <label for="cont">Contraseña</label><br>
        <input type="password" id="cont" name="cont"><br>
        <small id="error-cont" class="error"></small><br>

        <label for="cont2">Repetir contraseña</label><br>
        <input type="password" id="cont2" name="cont2"><br>
        <small id="error-cont2" class="error"></small><br>
        
        <label for="prefijo"></label> 
        <label for="telefono">Teléfono</label><br>
        <div class="telefono-group">
            <select name="pref" id="selPref" title="Prefijo" class="sel">
                <option value="+54">🇦🇷 +54</option>
                <option value="+598">🇺🇾 +598</option>
                <option value="+56">🇨🇱 +56</option>
                <option value="+51">🇵🇪 +51</option>
                <option value="+55">🇧🇷 +55</option>
                <option value="+595">🇵🇾 +595</option>
                <option value="+591">🇧🇴 +591</option>
                <option value="+57">🇨🇴 +57</option>
                <option value="+593">🇪🇨 +593</option>
                <option value="+58">🇻🇪 +58</option>
                <option value="+52">🇲🇽 +52</option>
                <option value="+1">🇺🇸 +1</option>
                <input type="text" id="telefono" name="telefono" class="telefono">
            </select>
        </div>
        <small id="error-telefono" class="error"></small><br>
        
        <input type="submit" value="Registrarse" class="boton"><br> 
    </form>
    <a href="{{ url_for('login') }}" class="link">¿Ya tienes una cuenta? Inicia sesión</a>
</div>

<div id="mensaje-exito" class="mensaje-exito"></div>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/front/regist.js') }}" defer></script>
{% endblock %}