:root{
  --fondo: #000;
  --box: #0f0f10;          
  --blanco: #eaeaea;
  --gris: #9aa0a6;
  --griso: rgba(255,255,255,0.08);
  --azul: #0b4b8f;
}

body{
  background: var(--fondo);
  color: var(--blanco);
}

.page{
  max-width: 100%;
  margin: 0 auto;
  padding: 32px;
  display: grid;
  grid-template-columns: 280px 450px 280px;
  gap: 25px;
  justify-content: center;
  align-items: start;
}

.sidebar{
  background: var(--box);
  border: 1px solid var(--griso);
  border-radius: 14px;
  padding: 18px;
  height: fit-content;
}

.sidebar-title{
  font-size: 14px;
  margin: 0 0 10px;
  color: var(--gris);
}

.menu{
  display: flex;
  flex-direction: column;
}

.menu-item{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 14px 10px;
  color: var(--blanco);
  text-decoration: none;
  border-radius: 10px;
}

.menu-item:last-child{ border-bottom: none; }
.menu-item:hover{ background: rgba(255,255,255,0.04); }
.menu-item.activo{ font-weight: 700; color: var(--azul); }
.menu-item.cerrar{ color: #ffb3b3; }

.content{
  background: var(--box);
  border: 1px solid var(--griso);
  border-radius: 14px;
  padding: 22px;
  width: 100%;
}

.content-title{
  margin: 0 0 8px;
  font-size: 32px;
}

.section{
  margin: 10px 0 0;
  color: var(--gris);
  font-size: 16px;
}

.form{
  margin-top: 12px;
  display: grid;
  gap: 14px;                  
}

.field{ display: flex; flex-direction: column; gap: 6px; }

label{
  font-weight: 600;
  color: var(--blanco);
}

input{
  width: 100%;
  padding: 10px 12px;
  border: 1.8px solid var(--gris);
  border-radius: 10px;
  font-size: 16px;
  background: var(--blanco);
  color: #111;
}


.boton{
  background: var(--azul);
  color: var(--blanco);
  font-weight: 700;
  border: none;
  border-radius: 10px;
  padding: 10px 16px;
  width: 180px;
  cursor: pointer;
  text-align: center;
  font-size: small;
  display: flex;
  justify-content: center;
  margin-top: 12px;
  cursor: pointer;
}
.boton:hover{ filter: brightness(1.1); }

.boton-container{
    display: flex;
    justify-content: center;
    margin-top: 12px;
}

.avatar-box{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 14px;
}

.avatar-preview img{
  width: 120px;
  height: 120px;
  border-radius: 100%;
  object-fit: cover;
  border: 3px solid var(--griso);
}

@media (max-width: 1024px){
  body{ padding-top: 80px; }

  .page{
    width: 94%;
    grid-template-columns: 1fr;
    gap: 18px;
  }

  .sidebar,
  .content,
  .avatar-box{
    grid-column: 1;
    grid-row: auto;
  }

  .content-title{ font-size: 24px; }
}

@media (max-width: 480px){
  body{ padding-top: 110px; }

  .page{ 
    width: 94%; 
    gap: 16px; }

  .content{ padding: 18px; }
  .content-title{ font-size: 22px; }

  .avatar-preview img{
    width: 110px; height: 110px;
  }
}