<!doctype html>
<html lang="es">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>ADMINISTRADOR</title>
  <link rel="stylesheet" href="a.css">
</head>
<body>
  <header class="navbar">
        <!-- Logo -->
        <div class="logo">
        <a href="cartelera.html">
            <img src="UUU.png">
        </a>
        <span class="admin-span">ADMIN</span>
        </div>

        <!-- Menú principal -->
        <div class="main-menu">
        <ul>
            <li><a href="peliadmin.html">Películas</a></li>
            <li><a href="butadmin.html">Butacas</a></li>
            <li><a href="reservas.html">Reservas</a></li>
            <li><a href="candyadmin.html">Candy</a></li>
        </ul>
        </div>

        <!-- Opciones a la derecha -->
        <div class="right-menu">
         <a href="#">Cerrar sesión</a>
        </div>
    </header>

    <!-- FOOTER -->
    <footer class="footer">
        <div class="footer-content">
            <p>© 2025 LCU. Contactanos en:</p>
            <div class="footer-links">
                <a href="#" ><img src="-inst.png" ></a>
                <a href="#" ><img src="-x.png" class="x" ></a>
                <a href="#" ><img src="-mail.png" class="mail" ></a>
            </div>
        </div>
    </footer>
</body>
</html>