<!DOCTYPE html> 
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>ADMINISTRADOR</title>
  <link rel="stylesheet" href="b.css">
  <link rel="stylesheet" href="carteleradmin.css">
</head>
<body>
    <header class="navbar">
        <!-- Logo -->
        <div class="logo">
        <a href="carteleradmin.html">
            <img src="UUU.png">
        </a>
        <span class="admin-span">ADMIN</span>
        </div>

        <!-- Menú principal -->
        <div class="main-menu">
        <ul>
            <li><a href="carteleradmin.html">Películas</a></li>
            <li><a href="butadmin.html">Butacas</a></li>
            <li><a href="reservas.html">Reservas</a></li>
            <li><a href="candyadmin.html">Candy</a></li>
        </ul>
        </div>

        <!-- Opciones a la derecha -->
        <div class="right-menu">
        <a href="#">Cerrar sesión</a>
        </div>
    </header>

    <main>
        <div class="buscador">
            <input type="text" placeholder="Buscar por nombre...">
            <select>
            <option value="">Todos los géneros</option>
            <option value="accion">Acción</option>
            <option value="comedia">Comedia</option>
            <option value="drama">Drama</option>
            <option value="terror">Terror</option>
            <option value="cienciaficcion">Ciencia Ficción</option>
            </select>

            <select>
            <option value="">Todas las clasificaciones</option>
            <option value="ATP">ATP</option>
            <option value="+13">+13</option>
            <option value="+16">+16</option>
            <option value="+18">+18</option>
            </select>

            <button>Buscar</button>
        </div>
        
        <div class="agregar-pelicula">
            <a href="peliadmin.html" class="btn-agregar">+ Agregar película</a>
        </div>
        <h1>🎬 PELÍCULAS EN CARTELERA</h1>

        <div class="contenedor-peliculas">
            <a href="peliadmin.html">
            <button>
            <img src="-onceuponatime.jpg">
            <p>HABÍA UNA VEZ EN HOLLYWOOD</p>
            <p class="g"> Comedia </p>
            </button>
            </a>

            <button><img src="-secreto.jpg">
            <p>EL SECRETO DE SUS OJOS</p>
            <p class="g"> Genero</p>
            </button>

            <button><img src="-avatar.jpg">
            <p>AVATAR: FUEGO Y CENIZAS</p>
            <p class="g"> Genero</p>
            </button>

            <button>
            <img src="-whiplash.jpg">
            <p>WHIPLASH</p>
            <p class="g"> Genero</p>
            </button>

            <button>
            <img src="-arg.jpg">
            <p>ARGENTINA 1985</p>
            <p class="g"> Genero</p>
            </button>

            <button>
            <img src="-kill.jpg">
            <p>KILL BILL </p>
            <p class="g"> Genero</p>
            </button>

            <button>
            <img src="-gla.jpg">
            <p>GLADIADOR</p>
            <p class="g"> Genero</p>
            </button>

            <button>
            <img src="-diario.jpg">
            <p>DIARIO DE UNA PASIÓN</p>
            <p class="g"> Genero</p>
            </button>

            <button>
            <img src="-superbad.jpg">
            <p>SUPERCOOL</p>
            <p class="g"> Genero</p>
            </button>

            <button>
            <img src="-coraline.jpg">
            <p>CORALINE</p>
            <p class="g"> Genero</p>
            </button>

            <button>
            <img src="-bastardos.jpg">
            <p>BASTARDOS SIN GLORIA</p>
            <p class="g"> Genero</p>
            </button>

            <button>
            <img src="-getout.jpg">
            <p>HUYE </p>
            <p class="g"> Genero</p>
            </button>

            <button>
            <img src="-lobo.jpg">
            <p>EL LOBO DE WALL STREET</p>
            <p class="g"> Genero</p>
            </button>

            <button>
            <img src="-interestelar.jpg">
            <p>INTERESTELAR</p>
            <p class="g"> Genero</p>
            </button>

            <button>
            <img src="-spiderman.jpg">
            <p>SPIDERMAN A TRAVÉS DEL SPIDER-VERSO</p>
            <p class="g"> Genero</p>
            </button>

            <button>
            <img src="-faro.jpg">
            <p>EL FARO</p>
            <p class="g"> Genero</p>
            </button>
        </div>
    </main>
    <!-- FOOTER -->
        <footer class="footer">
        <div class="footer-content">
            <p>© 2025 LCU. Contactanos en:</p>
            <div class="footer-links">
            <a href="#" alt="Instagram"><img src="-inst.png" ></a>
            <a href="#" alt="Twitter/X"><img src="-x.png" class="x" ></a>
            <a href="#" alt="Email"><img src="-mail.png" class="mail" ></a>
            </div>
        </div>
        </footer>
</body>
</html>